<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
">

    <context:component-scan base-package="com">
         <!--我们还需要将Packet包注入-->
        <context:include-filter type="annotation" expression="com.framework.route.AddressHandler"/>
        <context:include-filter type="annotation" expression="com.framework.route.Address"/>
    </context:component-scan>

    <bean id="context" class="com.framework.context.Context" >
    </bean>
</beans>

